<div class="reservation-search-space">

    <form action="search">
        <input type="Search" placeholder="Search">
        <button mat-raised-button>Search</button>
    </form>

    <a href="mis-reservas">Mis Reservas <span class="material-icons">
        arrow_right_alt
        </span></a>
    
    
</div>
<div class="movie-space">
    <ul>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
        <li><button onclick="location.href='reserva-2'" mat-raised-button>Reservar</button></li>
    </ul>
</div>