
<div class="movie-space">
    <ul>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>

    </ul>
</div>
