

.movie-space{
    width: 100%;
    overflow: hidden;
    background-color: black;
    margin-top: 160px;
    padding: 20px 0px;
   
    ul{
        padding: 0px;
        margin: 0px;
    }
    ul li {
        list-style: none;
        float: left;
        width: 27%;
        height: 300px;
        background: white;
        margin: 30px 10px 0px 59px;
        a{
            color: #cc9933;
            
        }
        a:hover{
            color: black;
        }
        
    }
}

