
<div class="movie-space">
    <ul>
        <li><a [routerLink]="['']">
            <span class="material-icons">
            favorite_border
            </span>
            <h2> movie.popularity </h2>
        </a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>
        <li><a href=""><span class="material-icons">
            favorite_border
            </span></a></li>

    </ul>
</div>
