.search-space{
    text-align: center;

}
img{
    width:40%;
    margin-top: 80px;
}

input{
    width: 60%;
    align-items: center;
    height: 50px;
    margin-top: 15px ;
    border: 1px solid black;

}
button{
    height: 50px;
    color: white;
    background-color: #CC9933;
}